/*FOOTER*/

@media (min-width:992px)
{
  .footer-img{
      width: 100%;
      background:#010123;
      background: -webkit-linear-gradient(70deg, #3A6073,#010123);
      background: linear-gradient(70deg, #3A6073,#010123);
      border: none;
      text-align: center;
      padding-top: 100px;
      color: white;
      font-weight: bold;
  }
}

.footer-bg{

      width: 100% ;
      background:#010123;
      background: -webkit-linear-gradient(70deg, #3A6073,#010123);
      background: linear-gradient(70deg, #3A6073,#010123);
      background-size: 100% 100%;
      color: white;
      font-weight: bold;
      margin-top: 1500px;
}
.text-footer{

padding: 5px;
text-align: center;
letter-spacing: 0px;
font-size: 25px;
font-weight: bold;
}

#arrow {
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:10px;
    height:10px;
    transform: rotate(-45deg);
    margin-top:40px;
}

.footer-link-li {
position: relative;
padding-bottom: 5px;
text-align: left;
padding-left: 20px;
margin-left: 70px;
}


.footer-link-li>a {
color: white !important;
}

.footer-link-ul {
list-style: none;
}

.footer-time{
font-size: 25px;
transition-duration: 0.1s;
color: #BE1E2D !important;
}
/* > sign */
.footer-link-li:before{
content: '';
position: absolute;
border-right:2px solid white;
border-bottom:2px solid white;
width:10px;
height:10px;
top: calc(50% - 4px);
left: -20px;
transform: translateY(-50%) rotate(-45deg);
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-right: 45px;


}

ul.social-network  li {
  display: inline;
  margin: 5px ;

}

.social-network  a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network  a.icoTwitter:hover {
  background-color: #007bb7;
}
.social-network a.icoYoutube:hover {
  background-color: #c4302b;
}
.social-network  a.icoFacebook:hover i,
.social-network  a.icoTwitter:hover i ,
.social-network a.icoYoutube:hover i  {
  color: #fff;
}

.social-network  a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle  li a {
  display: inline-block;
  position: relative;
  margin: 0 ;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 55px !important;
  height: 60px !important;
  font-size: 40px !important;

}

.social-circle  li i {
  margin: 0;
  line-height: 58px !important;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle  i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network  a {
  background-color: #F9F9F9;
}

/* End footer social icons */
.copy-rights {
  font-size: 15px;
  margin-top: 5px;
  border-top: 2px solid #FFFFFF;
}
