/*NavBar*/
nav a:hover {


  color: #BE1E2D  !important ;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: normal;
  transition-duration: 0.1s;
}
/*SOCİAL İCONS*/

/* header social icons */

ul.social-network-header {
  list-style: none;
  display: inline;
  margin-left: 60 !important;
  margin-bottom: 0 !important;

}

ul.social-network-header  li {
  display: inline;
  margin:  5px;

}


/* header social icons */

.social-network-header  a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network-header  a.icoTwitter:hover {
  background-color: #007bb7;
}
.social-network-header a.icoYoutube:hover {
  background-color: #c4302b;
}
.social-network-header  a.icoFacebook:hover i,
.social-network-header  a.icoTwitter:hover i ,
.social-network-header a.icoYoutube:hover i  {
  color: #fff;
}

.social-network-header  a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle-header  li a {
  display: inline-block;
  position: relative;
  margin: 0 ;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 55px;
  height: 60px;
  margin-top: 8px;
  font-size: 40px;

}

.social-circle-header  li i {
  margin: 0;
  line-height: 58px;
  text-align: center;
}

.social-circle-header  li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle-header  i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network-header  a {
  background-color: #F9F9F9;
}
