
div.menuBar {
   font-family: BirchStd;
   font-size: 23px;
   line-height: 23px;
   font-weight: bold;
   text-align: center;
   letter-spacing: -0.1em;
   padding-right: 35px;
}

.centered{
  margin-left:115px;
  text-align: center;
}

.centered li a {
  overflow:hidden;
  line-height: 42px;
  text-align: center;
  font-weight:bold;
}

/* Gender icons */
.circle-women{
 position: relative;
 display: inline-block;
 margin-bottom: 10px;
 overflow:hidden;
 width: 95px;
 background-color: #555;
 border-radius: 50% ;
}

.circle-women img {
  width: 100%;
  height:auto;
}

.circle-women img:hover {
   -webkit-transition : 1s ;
   -webkit-transform : rotateY(180deg);
 }

.circle-women-responsive{
  max-width: 70%;
}

.circle-men{
 position: relative;
 display: inline-block;
 overflow: hidden;
 margin-bottom: 10px;
 width: 95px;
 background-color: #555;
 border-radius: 50% ;
}

.circle-men-responsive{
 max-width: 70%;
}

.circle-men img {
  width: 100%;
  height:auto;
}

.circle-men img:hover {
  -webkit-transition : 1s ;
  -webkit-transform : rotateY(180deg);
}
/* Rectangle with icons and logo_img*/
.box{
  background: white ;
  width: 85%;
  height: 33%;
  padding: 50px;
  margin: 5%;
}

.location-icons {
  position: relative;
  padding-left: 65%;
  top: -70px;
}

.logo {
  position: relative;
  top: 150px;
  padding-right: 30%;
}

.logo img {
  width: 500px;
  max-width:90% ;
}
/* 3 images */
.trousers_icon {
  position: relative;
  top : 50px ;
  -webkit-transform : rotate(-13deg);
}

.trousers_icon img {
  width: 32%;
  border : 5px solid black ;
}

.dress_icon {
  position: relative;
  top : 300px;
  padding-left: 65%;
  -webkit-transform : rotate(8deg);
}

.dress_icon img{
  width: 100%;
  border : 5px solid black ;
}

.formal_icon {
  position: relative;
  top : 300px;
  padding-left: 36%;
}

.formal_icon img{
  width: 44% ;
}
.cutDress_icon {
  position: absolute;
  top : 1130px;
}

.cutDress_icon img{
  width: 30% ;
}
